{% extends 'base.html' %}

{% load static %}

{% block title %}Vioza | {{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <h4 class="card-header">{{ title }}</h4>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.non_field_errors }}

                    {{ form.as_p }}

                    <h5>Images (max 7)</h5>
                    {{images_formset.management_form}}

                    {% for image_form in images_formset %}
                    <div class="card mb-2 p-2">
                        {{ image_form.image.label_tag }}
                        {{ image_form.image }}
                        <div class="form-check mt-2">
                            <input
                                    type="radio"
                                    name="main_image"
                                    value="{{ forloop.counter0 }}"
                                    class="form-check-input"
                            >
                            <label class="form-check-label">
                                Set as main image
                            </label>
                        </div>
                        {{ image_form.errors }}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/classifieds/create_ad_form.js' %}"></script>

{% endblock %}