<div class="container">
    <div class="category-grid justify-content-center">
        {% for category in categories %}
        <div class="text-center">

            <div class="card mb-2 category-card"
                 data-category-id="{{ category.id }}"
                 data-category-title="{{ category.title }}"
                 data-category-slug="{{ category.slug }}">

                {% if category.icon %}
                <div class="d-flex justify-content-center mt-2">
                    <img src="{{ category.icon.url }}" alt="{{ category.title }}" width="40%">
                </div>
                {% endif %}

                <div class="card-body p-2">
                    <p class="card-text mb-0">{{ category.title }}</p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<!-- SUBCATEGORY CONTAINER -->
<div class="container mt-4 d-none" id="subcategory-container">
    <h5 id="subcategory-title"></h5>
    <hr>
    <div class="row" id="subcategory-row"></div>
</div>