.category-grid {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1400px) {
    .category-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}