{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vioza | {% block title%}{{title}}{% endblock %}</title>

    <!-- Bootstrap css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.min.css' %}">

    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>

<!-- Header -->
<header class="container-fluid">
    {% include "core/includes/_navbar.html" %}
</header>

<!-- Content -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- Footer -->
<footer class="container-fluid">
    {% include "core/includes/_footer.html" %}
</footer>

<!-- Bootstrap scrip -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.category-card');

        cards.forEach(card => {
            card.addEventListener('click', () => {
                const categoryId = card.dataset.categoryId;
                const subList = document.getElementById(`subcategory-${categoryId}`);

                document.querySelectorAll('.subcategory-list').forEach(el => {
                    if (el !== subList) {
                        el.classList.add('d-none');
                    }
                });

                subList.classList.toggle('d-none');
            });
        });
    });
</script>

</body>

</html>